absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.7
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
boto==2.49.0
boto3==1.23.4
botocore==1.26.4
bz2file==0.98
cachetools==4.2.4
certifi==2022.5.18.1
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.0.0
ConfigArgParse==0.13.0
-e git+ssh://git@github.com/Unity-Technologies/mz-ds-deep-learning.git@d060a8c8bc993d66d844ffaa6c43e539106b18b2#egg=cpi_model&subdirectory=cpi-model
cramjam==2.5.0
cycler==0.11.0
databricks-cli==0.16.6
dateutils==0.6.12
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.7
docker==5.0.3
entrypoints==0.4
fastjsonschema==2.16.1
fastparquet==0.8.1
Flask==2.1.2
flatbuffers==1.12
frozenlist==1.3.0
fsspec==2022.8.2
gast==0.3.3
gcsfs==2022.8.2
gitdb==4.0.9
GitPython==3.1.27
google-api-core==1.31.5
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==2.20.0
google-cloud-bigquery-storage==2.13.0
google-cloud-core==1.7.2
google-cloud-firestore==2.4.0
google-cloud-pubsub==0.40.0
google-cloud-storage==1.44.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==1.3.3
googleapis-common-protos==1.56.1
graphviz==0.10.1
greenlet==1.1.2
grpc-google-iam-v1==0.11.4
grpcio==1.32.0
gunicorn==20.1.0
h5py==2.10.0
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.1
ipykernel==6.15.1
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.0
joblib==1.1.0
jsonschema==4.9.1
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
liac-arff==2.5.0
logzero==1.7.0
lxml==4.9.1
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.0.3
matplotlib-inline==0.1.3
mistune==0.8.4
mlflow==1.26.0
mlrl-boomer==0.7.1
mlrl-common==0.7.1
mlrl-testbed==0.7.1
multidict==6.0.2
nbclient==0.6.6
nbconvert==6.5.3
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
notebook==6.4.12
numpy==1.21.6
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pkgutil_resolve_name==1.3.10
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.1
prompt-toolkit==3.0.30
proto-plus==1.20.4
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydot==1.2.4
Pygments==2.12.0
PyJWT==2.4.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==5.4.1
pyzmq==23.2.1
qtconsole==5.3.1
QtPy==2.2.0
querystring-parser==1.2.4
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
six==1.15.0
sklearn==0.0
smart-open==1.7.1
smmap==5.0.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.36
sqlparse==0.4.2
tabulate==0.8.9
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.3
tensorflow-estimator==2.4.0
tensorflow-hub==0.7.0
tensorflow-probability==0.11.1
tensorflow-serving-api==2.4.3
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tornado==6.2
tqdm==4.59.0
traitlets==5.3.0
typing-extensions==3.7.4.3
urllib3==1.26.9
valuator==0.1.11
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.1.2
widgetsnbextension==3.6.1
wrapt==1.12.1
yarl==1.7.2
zipp==3.8.0
